@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family= Share +Tech+Mono & display=swap');


*{
    font-family: 'Share Tech Mono', monospace;
}

.bg-gradient {    
    background-image: linear-gradient(to bottom right, #2C7A7B, #5fa9aa, #c3ffff);
}
.bg-gradient-reverse {    
    background-image: linear-gradient(to bottom left,#c3ffff , #5fa9aa, #2C7A7B);
}
